[rebase]
	autoSquash = true

[worktree]
    guessRemote = true

[push]
	default = current
    autoSetupRemote = true

[alias]
    undo = reset --soft @~1
[mergetool "fugitive"]
	cmd = nvim -f -c "Gvdiffsplit! $MERGED"
[merge]
	tool = fugitive
[pull]
	default = current
	rebase = true
[init]
	defaultBranch = master
