[rebase]
	autoSquash = true

[worktree]
    guessRemote = true

[push]
	default = current

[alias]
    undo = reset --soft @~1
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
	tool = fugitive
